body{
    background-color: rgb(208, 214, 23);
    margin-left: 200px;
}
ul{
    position: absolute;
    left: 0px;
    list-style-type: none;
}
li{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin-bottom: 8px;
    border-right: 10px solid;
}
li a{
    text-decoration: none;
}